#caj{
display: flex;
flex-direction: column;
}
header{
display: flex;
flex-direction: column;
background-image: url("r/i/bg.jpg");
background-size: cover;
}
header p, header nav{
display: flex;
flex-direction: row;
}
header nav{
	display: flex;
  justify-content: right;
  width: 100%;
}
header br.spa, br.spa2{
margin-top: 14%;
}
header h1{
padding: 1%;
}
header br{
	padding: 1%;
}
header ul{

	display: flex;
	align-items: center;
	align-content: center;
	padding: 20%;
justify-content: center;
}
header li{
	color: white;
	padding: 20%;
	padding-left: 50%;

display: inline-block;
}
a{
	text-decoration: none;
}
li{
text-decoration: none;
display: inline-block;
color: black;
}
.col{
display: flex;
flex-direction: column;
}
.cen{
display: flex;
justify-content: center;
align-items: center;

}
br.spa{
margin-top: 10%;
}
.fil{
display: flex;
flex-direction: row;
}
#ab p, .cen p{
padding-left: 10%;
padding-right: 10%;
}
#ab2{
background-image: url("r/i/dow-bg.jpg");
background-size: cover;
height: 10000%;
}
footer{
background-image: url("r/i/bg-3.jpg");
}
#img{
width: 10%;
}
#ios{
background-image: url("r/i/b1.png");
background-size: contain;
height: 120px;
width: 120px;
}
#ios:hover{
animation-name: back;
animation-duration: 2s;
background-image: url("r/i/b1-1.png");
}
@keyframes back {
    from {background-image: url("r/i/b1.png");}
    to {background-image: url("r/i/b1-1.png");}
}
@media screen and (max-width: 900px) and (min-width: 500px){
#img{
	display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: auto;

}
#img2{
	display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
#img3{
	display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

}
div.pers{
	background-image: url("r/i/tm-3.png");
	background-repeat: no-repeat;
	height: 250px;
	width: 100%;
	z-index: 0;
}
div.pers2{
	
	position: relative;
	background-repeat: no-repeat;
	height: 200px;
	width: 100%;
	z-index: 2;
}
div.pers2 img{
	display: none;
}
div.pers2:hover > img{

	display: block;
	animation-name: persona;
	animation-duration:  1s;
	animation-iteration-count: 1;
	margin-left: 15%;
	margin-top: 15%;
}
@keyframes persona{
	from{	
		margin-left: 0;
		margin-top: 0;
	}to{
		margin-left: 15%;
		margin-top: 15%;
	}
}
/*Esta es por las media screeen*/
@media screen and (min-width: 900px){
#img{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
margin:auto;
}
#img2{

}
#img3{
	
}
#img4{
	display: flex;
	flex-direction: column;
}

}
@media screen and (max-width: 500px){
	#img{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
margin:auto;
}
#img2{

}
#img3{
	
}
#img img{
	width: 500%;
}
#img4{
	display: flex;
	flex-direction: column;
}
.fil{
	display: flex;
	flex-direction: column;
}
}
