div.container{
	position: absolute;
	margin: 2%;
}
li{
display: inline-block;
}
header{
background-color: red;
display: block;
position: relative;
height: 10%;
padding: 3%;
}
nav{
	display: inline-block;
	position: relative;
float: right;
}
h1{
	display: inline-block;
	position: relative;
float: left;
}
.intro{
	position: relative;
margin-top: 5%;
background-color: blue;
}
h2.intro, p.intro{
text-align: center;
}
.parrafos{
	position: relative;
display: inline-block;

}
.p1{
	width: 33%;
display: inline-block;
float: left;

}
.p2{
width: 33%;
display: inline-block;
float: right;
}
.p3{
width: 33%;
display: inline-block;
}
.gallery{
	position: relative;
}
.thumail{
	display: inline-block;
	width: 24%;
}
.banner{
position: relative;
text-align: right;
margin-bottom: 10%;
margin-top: 10%;
background-color: #ccc;
height: 100%;
}