div.container{
	position: absolute;
	margin: 2%;
	margin-left: 5%;
	margin-right: 5%;
	background-color: red;
}
li{
display: inline-block;
background-color: red;
}
header{
background-color: red;
display: block;
position: relative;
height: 10%;
padding: 3%;
}
nav{
	display: inline-block;
	position: relative;
float: right;
background-color: red;
}
h1{
	display: inline-block;
	position: relative;
float: left;
background-color: red;
}
.intro{
	position: relative;
margin-top: 5%;
background-color: blue;
}
h2.intro, p.intro{
text-align: center;
}
.parrafos{
position: relative;
display: inline-block;
background-color: white;

}
.p1{
	width: 33%;
display: inline-block;
float: left;

}
.p2{
width: 33%;
display: inline-block;
float: right;
}
.p3{
width: 33%;
display: inline-block;
}
.gallery{
	position: relative;
	background-color: white;
}
.thumail{
	display: inline-block;
	width: 24%;
}
.banner{
position: relative;
text-align: right;
margin-bottom: 10%;
margin-top: 10%;
background-color: #ccc;
height: 100%;
}
article.info{
display: inline-block;
float: left;
text-align: center;
width: 50%;
background-color: white;
}
footer, .copyright{
background-color: #ccc;
}
footer{
padding: 1%;
text-align: center;
}
.button{
background-color: #ccc;
}
.copyright{
background-color: #fcc;
}